
table {
	padding-left: 234px;
	
}

.ball {
	margin-top: 213px;
	margin-right: 119px;
	width:50%;
	float: right;
	font-size: 100px;
	text-align: center;

	
	
	height: 100px;
	width: 100px;
	background:green; 
	border: 2px double red;
	
}

tr {
	border:1px solid black;
}
td {
	border:1px solid black;
	width:70px;
	height:55px;
}
/*.red {
	background-color: #D14F4F;
}
.blue {
	background-color: #7B5CAF;
}
.brown {
	background-color: #C77727;
}
.yellow {
	background-color: #10E9E6;
}
.green {
	background-color: #24D50D;
}*/
table tr:nth-child(even) td:nth-child(even) {
background-color:#D14F4F;
}
table tr:nth-child(even) td:nth-child(odd) {
background-color:#C77727;
}

table tr:nth-child(odd) td:nth-child(even) {
background-color: #10E9E6;}
table tr:nth-child(odd) td:nth-child(odd) {
background-color: #7B5CAF;}

#one {

	position:absolute;
	height:180px;
	width:200px;
	padding-left:770px;
	padding-top:394px;

}
#two {
	position:absolute;
	height:250px;
	width:250px;
	padding-left:504px;
	padding-top:277px

}
#three {
	position:absolute;
	height:400px;
	width:80px;
	padding-left:472px;
	padding-top:10px

}

.jo {
	float: left;
	position :relative;
	width: 20px;
	margin-top: 566px;
	left: 173px;
	right:127px;
	

}
.image{
	width:38px;
	height:35px;
}
.image1{
	width:27px;
	height:27px;
	padding-left: 30px;
}



